doctype html
head
  title three.js webgl 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  link(type='text/css' rel='stylesheet' href="css/three.css")
  body
    script(src='/__/firebase/7.14.6/firebase-app.js')
    //
      TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries
    script(src="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js")
    script(src='https://www.gstatic.com/firebasejs/7.14.6/firebase-firestore.js')
    script(src="https://www.gstatic.com/firebasejs/7.14.6/firebase-database.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.6/firebase-auth.js")
    
    script(src='/js/firebase.js') 
    script(type='module', src="/js/businesscard.js")